@using EcommerceDataLayer
@using System.Globalization
@model List<Specification>
@if (Model != null)
{
    for (int i = 0; i < Model.Count(); i++)
    {
        <div class="form-group">
            @Html.TextBox(string.Format(CultureInfo.InvariantCulture, "Specs[{0}].Name", i), Model[i].Name, new {@class = "control-label col-md-2", @readonly = "readonly", @style="border:none; background-color:#fff; background:transparent; font-weight:bold" })
            <div class="col-md-10">
                @Html.Editor(string.Format(CultureInfo.InvariantCulture, "Specs[{0}].SpecValue", i), new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    }
}

<!--Note: We must add this css file to have uniform style of the partial view with the main view.-->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />